<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professor Add/Update Form</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="container">
    <div class="form-wrapper">
        <h3 style="font-family: helvetica">Professor Add / Update</h3>
        <form action="#" th:action="@{/saveProfessor}" th:object="${professorForm}" method="POST">
            <!-- Professor Fields -->
            <input type="hidden" th:field="*{professor.id}">
            <input type="text" th:field="*{professor.firstName}" placeholder="First Name">
            <input type="text" th:field="*{professor.lastName}" placeholder="Last Name">
            <input type="email" th:field="*{professor.email}" placeholder="Email" class="email-box"><br>

            <!-- Professor Details Fields -->
            <input type="hidden" th:field="*{professorDetails.id}">
            <input id="roleInput" type="text" th:field="*{professorDetails.role}" placeholder="Role">
            <input  id="passwordInput" type="text" th:field="*{professorDetails.password}" placeholder="Password">

            <button type="submit">Save Professor and Details</button>
        </form>
    </div>

</div>

<style>

    .email-box {
        height: 35px;
    }
</style>

<script>
    document.getElementById('roleInput').addEventListener('blur', function() {
        let roleInput = document.getElementById('roleInput');
        if (roleInput.value) {
            let formattedRole = roleInput.value.toUpperCase();
            if (!formattedRole.startsWith('ROLE_')) {
                roleInput.value = 'ROLE_' + formattedRole;
            } else {
                roleInput.value = formattedRole;
            }
        }
    });

    document.getElementById('passwordInput').addEventListener('blur', function() {
        let passwordInput = document.getElementById('passwordInput');
        if (passwordInput.value && !passwordInput.value.startsWith('{noop}')) {
            passwordInput.value = '{noop}' + passwordInput.value;
        }
    });
</script>

</body>
</html>