
<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/professor-home.css">

    </head>
    <body>
    <div class="container">
        <a  class="btn success" id="profile-btn"  href="#" th:href="@{/professor-details/{id}(id=${professor.id})}">Profile</a>
        <h5>Logged in as: <span sec:authentication="principal.username"></span></h5>
        <h3>Welcome To Professor Home Page</h3>

        <a class="btn info"  href="#" th:href="@{/student-manage}">Manage Students</a>
        <a  class="btn info" href="#" th:href="@{/professor-manage}">Manage Professors</a>
        <a  class="btn info" href="#" th:href="@{/course-manage}">Manage Courses</a>

        <br><br><br><br><br><br>
        <footer>
            <form action="#" th:action="@{/logout}" method="POST">
                <input id="logout-btn" class="btn btn-danger" type="submit" value="Logout">
            </form>
        </footer>
    </div>
    </body>
    </html>
